<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ModularEnvironment"
            class="aDL_Moddeling_Project.ModularEnvironment.ModularEnvironmentPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ManagementServices"
            class="aDL_Moddeling_Project.ModularEnvironment.ManagementServices.ManagementServicesPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ManagementServices.AdapterServices"
            class="aDL_Moddeling_Project.ModularEnvironment.ManagementServices.AdapterServices.AdapterServicesPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ModularSimulation"
            class="aDL_Moddeling_Project.ModularSimulation.ModularSimulationPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.basic"
            class="aDL_Moddeling_Project.basic.BasicPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.DataRepresentation"
            class="aDL_Moddeling_Project.DataRepresentation.DataRepresentationPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.DataRepresentation.OperationModel"
            class="aDL_Moddeling_Project.DataRepresentation.OperationModel.OperationModelPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.DataRepresentation.DataTypes"
            class="aDL_Moddeling_Project.DataRepresentation.DataTypes.DataTypesPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.DataRepresentation.DataSpecification"
            class="aDL_Moddeling_Project.DataRepresentation.DataSpecification.DataSpecificationPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.Assembly"
            class="aDL_Moddeling_Project.ModularSimulationAssembly.ModularSimulationAssemblyPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.Assembly.AssemblyConnections"
            class="aDL_Moddeling_Project.ModularSimulationAssembly.AssemblyConnections.AssemblyConnectionsPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.Assembly.AdditionEnhancement"
            class="aDL_Moddeling_Project.ModularSimulationAssembly.AssemblyAdditionEnhancement.AssemblyAdditionEnhancementPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.Assembly.AssemblyInterface"
            class="aDL_Moddeling_Project.ModularSimulationAssembly.AssemblyInterface.AssemblyInterfacePackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Genmodel -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.UnstructuredDataView.Unstructured_DataRepositrory"
            class="aDL_Moddeling_Project.UnstructuredDataView.Unstructured_DataRepository.Unstructured_DataRepositoryPackage"
            genModel="model/MoSimCoupling.genmodel"/>
   </extension>

</plugin>
