<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ModularEnvironment"
            class="aDL_Moddeling_Project.ModularEnvironment.ModularEnvironmentPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ModularSimulation"
            class="aDL_Moddeling_Project.ModularSimulation.ModularSimulationPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.basic"
            class="aDL_Moddeling_Project.basic.BasicPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.Connectors"
            class="aDL_Moddeling_Project.Connectors.ConnectorsPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ManagementServices"
            class="aDL_Moddeling_Project.ManagementServices.ManagementServicesPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ManagementServices.AdapterServices"
            class="aDL_Moddeling_Project.ManagementServices.AdapterServices.AdapterServicesPackage"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ADL_Moddeling_Project -->
      <package
            uri="edu.kit.ipd.sdq.Modularization.ManagementServices.ServiceInterfaceDescription"
            class="aDL_Moddeling_Project.ManagementServices.ServiceInterfaceDescription.NewPackage3Package"
            genModel="model/ADL_Moddeling_Project.genmodel"/>
   </extension>

</plugin>
